html
  head
    title= title
    link(href="stylesheets/style.css" rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")

  body
    .container 
      h1 Nashville Social Setting
      ul
        li 
          a(href='/events') All Events
      block content